* {
	list-style: none;
	color: black;
}

body {
	background: skyblue;
}

img {
	display: block;
	margin-top: auto;
	margin-bottom: auto;
}

h1{
	color: black;
}

footer p{
	color: black;
}

.background {
	background-image: url("../images/shareload.jpg");
	background-repeat: no-repeat; 
	background-size: 100% 100%
}

@media (max-width: 746px) {
	.background {
		padding-top: 300px;
	}
}